*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

body {
    margin; 0
}

img {
    max-width: 80%;
    vertical-align: middle;
}

ul {
    margin-block-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}